html {
  background-color: #000000;
  color: #ffffff;
  font: 400 14px / 20px MicrosoftYaHei,'微软雅黑',Arial,Tahoma,"Helvetica Neue",Helvetica,Georgia,Sans-serif,'STXihei','华文黑体',Hei,SimSun;
}

a {
  /* color: #ff6600; */
  text-decoration: none;
}

a:hover {
  color: #ff3447;
}

#header {
  width: 65em;
  margin: 0 auto;
  padding: 1em 0;
  color: #ffffff;
}

#header a {
  color: #ffffff;
}

#header-title {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5em;
  padding-left: 0;
  color: white;
  text-decoration: none;
}

#header-title:hover,
#header-title:focus {
  color: white;
}

#body {
  width: 65em;
  margin: 0 auto;
}

#page {
  width: 50em;
  float: left;
}

#page a {
  color: #00FF00;
}

#page a:hover {
  color: #33b5e5;
}

#content {
  width: 50em;
  float: left;
  margin-bottom: 3em;
}

#content a {
  /* color: #258fb8; */
  text-decoration: none;
}

#content img,
#content video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

#content iframe {
  width: 50em;
  height: 28em;
}

#content hr {
  border: 1px dashed #ddd;
}

#content ul,
#content ol {
  padding-left: 2em;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

#content ul ul,
#content ul ol,
#content ol ol,
#content ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

#content li>p {
  margin-top: 16px;
}

#content li+li {
  margin-top: 0.25em;
}

#content dl {
  padding: 0;
}

#content dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

#content dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

#content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

#content table th {
  font-weight: bold;
}

#content table th,
#content table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

#content table tr {
  /* background-color: #fff; */
  border-top: 1px solid #ccc;
}

#content table tr:nth-child(2n) {
  background-color: #4D4D4D;
}

#article-meta a,
#article-body a {
  color: #258fb8;
}

#sidebar {
  width: 15em;
  float: left;
}

#sidebar a {
  color: #ff6600;
}

#sidebar a:hover {
  text-decoration: underline;
}

#sidebar ul {
  list-style: none;
}

#footer {
  clear: both;
  width: 65em;
  margin: 0 auto;
  padding-top: 2em;
  text-align: center;
  line-height: 1em;
}

#footer a {
  color: #890604;
}

#footer a:hover {
  text-decoration: underline;
}

.nav-header {
  font-size: 1.3em;
  margin-bottom: -0.5em;
}

.text-muted {
  color: #00FF00;
}
