{% extends "base.html" %}
{% block title %}Categories{% endblock %} 
{% block description %}{% endblock %}

{% block content %}
<div id="content">
    <h1 class="heading-large">Categories</h1>
    {% for category, articles in categories %}
    <h2><a href="/{{ category.url}}" class="text-muted">{{ category|capitalize }}</a></h2>
        {% for article in articles %}
        <article class="article">
            <span class="postdate">[{{ article.date.strftime('%Y-%m-%d') }}]</span>
            <span>&nbsp;</span>
            <a href="/{{ article.url }}" class="text-muted">{{ article.title }}</a>
        </article>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
